.section-title {
  color: #222222;
  font-family: "Acrom-EB";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -1px;

  &.acuamarine {
    color: $acuamarine;
    margin: 20px 0px;

    @media (min-width:768px) {
      max-width: 555px;
      font-size: 40px;
      line-height: 50px;
      letter-spacing: -1.6px
    }
  }
}
