.section-3 {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $background-light;

  @media (min-width: 768px) and (max-width: 1199px) {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  
  .section-title {
    @media (min-width: 768px) and (max-width:1199px) {
      font-size: 30px;
      max-width: 630px; 
      margin-bottom: 15px; 
      margin-left: auto;
      margin-right: auto;
    }
    @media (min-width: 1200px) {
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 115px;
      
    }
  }

}

.list-block {
  position: relative;
  display: block;
  width: 230px;
  height: 225px;
  margin-bottom: 40px;
  margin-top: 40px;
  box-shadow: -20px 15px 0px 0px rgba(223,226,228,1), 0 15px 32px rgba(0, 0, 0, 0.16);
  z-index: 0;

  @media (min-width:1200px) {
    width: 350px;
    height: 275px;
  }
}

.list-block__inner {
  position: relative;
  min-height: 100%;
  background-color: #fff;
}

.item-text {
  position: relative;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 41px;
  font-family: 'Acrom-R';
  font-size: 16px;
  letter-spacing: -0.5px;
  text-align: left;
  line-height: 1.375;

  @media (min-width:1200px) {
    font-size: 18px;
    line-height: 1.944;
    padding-right: 25px;
  }
}

.item-text::before {
  content: '';
  position: absolute;
  top: 25px;
  left: -15px;
  display: block;
  width: 60px;
  height: 2px;
  background-color: $aquamarine;
  z-index: 1;
}

.list-number {
  position: absolute;
  right: 0;
  top: -36px;
  font-family: 'Montserrat';
  font-size: 50px;
  color: #fbfcfb;
  font-weight: bold;
  line-height: 1.2;
  z-index: -1;

  @media (min-width: 768px) {
    font-size: 70px;
    top: -50px;
  }

  @media (min-width: 1200px) {
    font-size: 150px;
    top: -110px;
  }
}

.section-btn {
  display: block;
  width: 225px;
  height: 105px;
  background-color: $coral;
  color: #fff;
  font-family: 'Acrom-B';
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.429;
  text-align: center;
  box-shadow: 0 2px 10px rgba(255, 107, 8, 0.59);
  cursor: pointer;
  @media (min-width:768px) {
    width: 530px;
    height: 70px;
    margin: 0 auto;
  }
  @media (min-width:1200px) {
    margin-bottom: 100px;
  }
}

.center {
  @media (min-width:768px) {
    display: block;
    text-align: center;
  }
}

.section-list {
  @media (min-width:768px) {
    display: flex;
    justify-content: space-between;
  }
  @media (min-width:1200px) {
    padding-bottom: 35px;
  }
}

